{% extends "layout.html" %}
{% block title %}Lisää laite{% endblock %}
{% block content %}
<h2>Lisää laite</h2>

<b>Täällä voin lisätä laitteita kokoelmaani</b> 


<p>   
    <form action="/addhardware" method="POST">
        <p>Tyyppi:<br>
        <input type="radio" name="type" value="tietokone" checked> tietokone
        <input type="radio" name="type" value="pelikonsoli"> pelikonsoli
        <p>Malli:<br>
        <input type="text" name="model"></p>
        <p>Kunto:<br>
        <input type="text" name="condition"></p>
        <p>Arvo: anna arvo kokonaislukuna<br>
        <input type="text" name="value"></p>
        <p>Julkinen: määrittelee tuotteen näkymisen yhteisellä sivulla<br>
        <input type="radio" name="public" value=false checked> yksityinen
        <input type="radio" name="public" value=true> julkinen
        <input type="submit" value="Lisää Laite">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
</p> 

{% endblock %}
