<title>Lisää tuote</title>
<h1>Lisää tuote</h1>
<b>Täällä voin lisätä tuotteita kokoelmaani</b> 
<p>
    <form action="/additem" method="POST">
        <p>Tyyppi:<br>
        <input type="text" name="type"></p>
        <p>Malli:<br>
        <input type="text" name="model"></p>
        <p>Kunto:<br>
        <input type="text" name="condition"></p>
        <input type="submit" value="Lisää tuote">
        </form>
<p>   
    <form action="/addhardware" method="POST">
        <p>Tyyppi:<br>
        <select name="type">
        <option value="computer" selected> tietokone
        <option value="console"> pelikonsoli
        </select>   
        <p>Malli:<br>
        <input type="text" name="model"></p>
        <p>Kunto:<br>
        <input type="text" name="condition"></p>
        <p>Arvo:<br>
        <input type="text" name="value"></p>
        <input type="submit" value="Lisää Laite">
        </form>
<p> 
    <form action="/addsoftware" method="POST">
        <p>Nimi:<br>
        <input type="text" name="name"></p>
        <p>Media tyyppi:<br>
        <input type="text" name="mediatype"></p>
        <p>Malli:<br>
        <input type="text" name="model"></p>
        <p>Kunto:<br>
        <input type="text" name="condition"></p>
        <p>Arvo:<br>
        <input type="text" name="value"></p>
        <input type="submit" value="Lisää peli/ohjelmisto">
        </form>
    

    
</p>
