{% extends "layout.html" %}
{% block title %}Lisää ohjelmisto{% endblock %}
{% block content %}
<h2>Lisää ohjelmisto</h2>
<b>Täällä voin lisätä pelejä ja ohjelmistoja kokoelmaani</b> 

<p> 
    <form action="/addsoftware" method="POST">
        <p>Nimi: max 20 merkkiä<br>
        <input type="text" name="name"></p>
        <p>Media tyyppi: max 20 merkkiä<br>
        <input type="text" name="mediatype"></p>
        <p>Malli: max 20 merkkiä<br>
        <input type="text" name="model"></p>
        <p>Kunto: max 20 merkkiä<br>
        <input type="text" name="condition"></p>
        <p>Arvo: anna arvo kokonaislukuna<br>
        <input type="text" name="value"></p>
        <p>Julkinen: määrittelee tuotteen näkymisen yhteisellä sivulla<br>
        <input type="radio" name="public" value=false checked> yksityinen
        <input type="radio" name="public" value=true> julkinen
        <input type="submit" value="Lisää peli/ohjelmisto">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        
</p>

{% endblock %}
