<title>Lisää tuote</title>
<h1>Lisää tuote</h1>
<b>Täällä voin lisätä tuotteita kokoelmaani</b> 

<p> 
    <form action="/addsoftware" method="POST">
        <p>Nimi:<br>
        <input type="text" name="name"></p>
        <p>Media tyyppi:<br>
        <input type="text" name="mediatype"></p>
        <p>Malli:<br>
        <input type="text" name="model"></p>
        <p>Kunto:<br>
        <input type="text" name="condition"></p>
        <p>Arvo:<br>
        <input type="text" name="value"></p>
        <input type="submit" value="Lisää peli/ohjelmisto">
        </form>
        
</p>

