<link rel="stylesheet" type="text/css" href="/static/styles.css">
<title>Lisää tuote</title>
<h1>Lisää tuote</h1>
<b>Täällä voin lisätä pelejä ja ohjelmistoja kokoelmaani</b> 

<p> 
    <form action="/addsoftware" method="POST">
        <p>Nimi:<br>
        <input type="text" name="name"></p>
        <p>Media tyyppi:<br>
        <input type="text" name="mediatype"></p>
        <p>Malli:<br>
        <input type="text" name="model"></p>
        <p>Kunto:<br>
        <input type="text" name="condition"></p>
        <p>Arvo:<br>
        <input type="text" name="value"></p>
        <p>Julkinen:<br>
        <input type="radio" name="public" value=false checked> yksityinen
        <input type="radio" name="public" value=true> julkinen
        <input type="submit" value="Lisää peli/ohjelmisto">
        </form>
        
</p>

