{% extends "layout.html" %}
{% block title %}Meidän Sivu{% endblock %}
{% block content %}
<h2>Meidän Sivu</h2>
<b>Täällä omat ja muiden julkiseksi asettamat tuotteet</b>
<p>
<b>Täällä voit myös jättää kommentteja muiden nähtäväksi</b>
<p>
<a href="/mypage">Takaisin omalle sivulle</a>
<p>



<h2>Laitteet</h2>
<table>
    <tr>
        <th>Tyyppi</th>
        <th>Malli</th>
        <th>Kunto</th>
        <th>Arvo</th>
    </tr>
    {% for item in hw_list %}
    <tr>
        <td>{{ item.type }}</td>
        <td>{{ item.model }}</td>
        <td>{{ item.condition }}</td>
        <td>{{ item.value }}</td>
    </tr>
    {% endfor %}
</table>


<h2>Pelit ja ohjelmistot</h2>
<table>
    <tr>
        <th>Nimi</th>
        <th>Mediatyyppi</th>
        <th>Malli</th>
        <th>Kunto</th>
        <th>Arvo</th>
    </tr>
    {% for item in sw_list %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.mediatype }}</td>
        <td>{{ item.model }}</td>
        <td>{{ item.condition }}</td>
        <td>{{ item.value }}</td>
    </tr>
    {% endfor %}
</table>


<h2>Kommentit</h2>
<hr>
{% for comment in comment_list %}
<b>Kommentti:</b> {{ comment[0] }}
<p>
<b>Lähettäjä:</b> {{ comment[1] }}
<p>
<b>Lisäysaika:</b> {{ comment[2].strftime("%Y-%m-%d %H:%M:%S") }}
<hr>
{% endfor %}
{% if session.user_id %}

<a href="/addcomment">Lähetä viesti</a> 
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}

{% endblock %}